<template name="dodonts">
	<div class="do-dont">

        <div class="back-link">
            <a href="/">GO BACK TO MERMUR</a>
        </div>

        <h1>DO'S &amp; DONT'S</h1>

        <div class="do">

            <h1>DO</h1>

            <ul>
                <li>
                    <h2 class="other">express yourself</h2>
                    <p>Say what you feel, send what you want. But dont get too crazyy!</p>
                    <br>
                    <p>So in other words...Go ahead, tell her how you really feel!</p>
                </li>
                <li>
                    <h2>use the anonymous aspect with care</h2>
                    <p>Yes we provide anonymous text messaging, no that does not give you incentive to be a creep. Be wierd, but be normal...okay be weird.</p>
                </li>
            </ul> 
        </div>

        <hr>

        <div class="dont">
            <h1>DON'T</h1>
            <p>Now on a more serious note:</p>

            <ul>
                <li>
                    <h2>no sexual harassment, child or adult</h2>
                </li>
                <li>
                    <h2>no threats of physical harm</h2>
                </li>
                <li>
                    <h2>no terroristic acts</h2>
                </li>
                <li>
                    <h2>no bullying, physically or mentally</h2>
                </li>
            </ul>
            <br>

            <p>The above statements are taken seriously. Mermur will not tolerate violation of any of the DONT'S listed above. If you violate any of these rules, you are subject to any state or federal penalties.</p>
            <p>If you feel victimized or targeted via Mermur, please contact us at help@mermur.it.</p>
            <br>
            <p>That all being said, send Mermur's with care and have fun!</p>
            <p>The Mermur Team</p>
        </div>
    </div>
</template>