<head>
	<script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"EvanBrand","width":728,"height":90,"sid":"Chitika Default","color_site_link":"7926e7","color_text":"333","color_button":"7926e7","color_button_text":"ffffff"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
	}());
</script>
</head>
<template name="sent">
	<div class="privacy">

        <h1>mermur sent!</h1>

        <p>Thanks for checking out mermur! We built mermur so that people can truely express themselves to someone via text message. Too often are we ashamed or afraid to say what we really feel so we decided to create a place where that atmosphere doesn't exist.</p>

        <br>

        <p>You are here because you sent a Mermur to someone. If you arent here because you sent something then feel free to go back and send a Mermur.</p>

        <br>
        <br>
        <br>
        <br>

        <div class="back-link">
            <a href="/">SEND ANOTHER MERMUR</a>
        </div>

    </div>
</template>